<div>
  <%= search_form_for q, url: search_posts_path do |f| %>
    <table>
      <tr>
        <td><%= f.label :title_cont, 'タイトル：' %></td>
        <td><%= f.search_field :title_cont %></td>
      </tr>
      <tr>
        <td><%= f.label :tags_name_cont, 'タグ：' %></td>
        <td><%= f.search_field :tags_name_cont %></td>
      </tr>
      <tr>
        <td><%= f.label :genre_id_eq,"ジャンル："%></td>
        <td><%= f.select :genre_id_eq, options_from_collection_for_select(Genre.all, :id, :name, :prompt => "--選択してください--") %></td>
      </tr>
    </table>

    <%= f.submit '検索' %>
  <% end %>
</div>