<div class='row pt-3 row-eq-height'>
  <% posts.each do |post| %>
    <div class="col-sm-3">
      <div class="img-container">
        <%= link_to post_path(post.id) do %>
        <%= image_tag post.post_image, class: "rounded", size: '150x150' %>
        <% end %>
      </div>
      <p><%= post.title %></p>
      <p>ジャンル：<%= post.genre.name %></p>
      <p><%= post.tags.map(&:name).join(', ') %></p>
      <p><%= render "public/favorites/btn", post: post %></p>
      <p>コメント数：<%#= post. %></p>
    </div>
  <% end %>
</div>

