<div class="container">
  <div class="row pt-3">
  	<div class="col-md-3 mr-5">
      <%= render "public/users/info", user: current_user %>
      <%= render "form", q: @q %>
	  </div>
	  <div class="col mt-3 px-0">
      <h4><strong>みんなの投稿一覧 (全<%= Post.count %>件)</strong></h4>
      <%= render "index", posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
