<div class='container'>
  <%= flash[:notice] %>
  <h5 class="col-md-7 mb-5 mt-5 offset-2">新規投稿</h5>
  <div class="row">
    <div class="col-10 offset-2">
      <%= form_with url: posts_path, model: @post, local: true do |form| %>
        <table class="ml-4">
          <tr>
            <td>
              <%= form.label "紹介画像"%>
            </td>
            <td>
               <%= form.file_field :post_image, accept: "image/*" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label "タイトル"%>
            </td>
            <td>
               <%= form.text_field :title,placeholder: 'タイトル', class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <%= form.label "投稿紹介"%>
            </td>
            <td>
              <%= form.text_area :introduction,placeholder: 'ここに投稿紹介文の記述をしてください。', class: "form-control", :size=>"42x8" %>
            </td>
          </tr>
          <tr>
            <td valign="top">
              <%= form.label :url, "URL(任意)"%>
            </td>
            <td>
              <%= form.text_area :url,placeholder: 'URLを貼ってください。', class: "form-control", :size=>"42x2" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label "投稿ジャンル"%>
            </td>
            <td>
              <%= form.collection_select :genre_id, Genre.all, :id, :name,
                                     :prompt => "--選択してください--"%>
            </td>
          </tr>
          <tr>
            <td></td>
            <td align="center">
              <%= form.submit '新規登録', class: "btn-success btn-lg" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
