<div class='container mt-5'>
  <div class='row pt-3'>
  	<div class='col-md-3'>
  	  <div>
        <h2 style="text-align:center;">User info</h2>
        <%= render 'public/users/info', user: current_user %>
      </div>
      <div class='mt-5'>
        <h2 style="text-align:center;">投稿検索</h2>
        <%= render 'form', q: @q %>
      </div>
	  </div>
	  <div class='col-md-8 offset-md-1 mt-3'>
      <h4><strong>“ <%= @tag.name %> ” のタグ検索投稿一覧 </strong></h4>
      <%= render 'index', posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>