<div class='container'>
	<div class='row'>
		<div class='col-6'>
			<div class="d-flex bd-highlight mb-3 mt-3 ">
			    <h5 class="p-2 bd-highlight">
					<%= @post.user.nickname %>さんの投稿詳細
				</h5>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-4'>
			<p>紹介画像</p>
			  <% if @post.post_image.attached? %>
			    <%= image_tag @post.post_image, size: "200x200" %>
			  <% else %>
			    <%= image_tag 'no_image_square', size: "200x200" %>
			  <% end %>
		</div>
		<div class='col-8'>
			<table class="table table-borderless ">
				<tr>
					<td>タイトル</td>
					<td><%= @post.title %></td>
				</tr>
				<tr>
					<td>投稿紹介</td>
					<td><%= @post.introduction %></td>
				</tr>
				<tr>
					<td>URL(任意)</td>
					<td colspan="2"><%= link_to @post.url %></td>
				</tr>
				<tr>
          <td>ジャンル</td>
        　<td><%= @post.genre.name %></td>
        </tr>
				<tr>
					<td>お気に入り</td>
					<td>♡5</td>
				</tr>
				<tr>
					<td><%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %></td>
					<td><%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "この投稿を削除しますか？"} %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
