<div class="container mt-2">
  <div class="row pt-3">
  	<div class="col-md-3">
      <%= render "public/users/info", user: @post.user %>
      <%= render "form", q: @q %>
    </div>
		<div class="col-md-8 offset-md-1">
		  <h4>
		  	<strong><%= @post.user.nickname %>さんの投稿詳細</strong>
			</h4>
			<div class="all_post_show">
				<p>紹介画像</p>
				<% if @post.post_image.attached? %>
				    <%= image_tag @post.post_image, size: "260x220" %>
			  <% else %>
			    <%= image_tag "no_image_square.jpg", size: "260x220" %>
			  <% end %>
				<table class="table table-borderless ">
					<tr>
						<th>タイトル</th>
						<td><%= @post.title %></td>
					</tr>
					<tr>
						<th>投稿紹介</th>
						<td><%= @post.introduction %></td>
					</tr>
					<tr>
						<th>URL(任意)</th>
						<td colspan="2"><%= Rinku.auto_link(@post.url, :all, 'target="_blank"').html_safe %></td>
					</tr>
					<tr>
	          <th>ジャンル</th>
	        　<td><%= @post.genre.name %></td>
	        </tr>
	        <tr>
	        	<td></td>
	        	<td>
							<% @post_tags.each do |tag| %>
							 # <%= link_to tag.name, search_tag_posts_path(tag_id: tag.id) %><%="(#{tag.posts.count})" %>
	  					<% end %>
	        	</td>
	        </tr>
					<tr>
						<th>お気に入り:<%= render "public/favorites/btn", post: @post %></th>
						<th>コメント数：<%= @post.post_comments.count %></th>
					</tr>
					<% if @post.user == current_user %>
					<tr>
						<td><%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %></td>
						<td><%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger", data: {confirm: "この投稿を削除しますか？"} %></td>
					</tr>
					<% else %>
					<% end %>
				</table>
			</div>
			<div class="all_post_comments">
				<h5>
					<i class="far fa-comments"></i>
					<strong>みんなのコメント</strong>
				</h5>
				<%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
				<%= render "public/post_comments/index", post: @post %>
			</div>
		</div>
	</div>
</div>
